.DS_Store
# dependencies
node_modules

# logs
*.log
*.cache

#locks
yarn.lock
package-lock.json

# Nuxt build
.nuxt

# Nuxt generate
dist

# dont show the firebase file
firebase.js
serviceAccountKey.json
serviceAccountKeyStaging.json
functions/.runtimeconfig.json

# hide the compiled service worker
sw.*

# Personal file
todo.md
cypress/integration/example_spec.js
cypress/screenshots/
.nvmrc
static/sitemap.xml
*code-workspace
\.vscode/settings\.json
package-lock.json
.monitor/
