.DS_Store
# dependencies
node_modules

# logs
*.log
*.cache

#locks
package-lock.json

# Nuxt build
.nuxt

# Nuxt generate
dist
feed.xml

# dont show the firebase file
serviceAccountKey.json
serviceAccountKeyStaging.json
chargebeeAccountKey.json
functions/.runtimeconfig.json
firebaseConfig.json
.env

# hide the compiled service worker
sw.*

# Personal file
todo.md
cypress/integration/example_spec.js
cypress/screenshots/
.nvmrc
static/sitemap.xml
*code-workspace
\.vscode/settings\.json
package-lock.json
.monitor/
local-test
