button
  outline: none

  &[disabled]
    opacity: 0.7
    
.button
  display inline-flex
  height $button-height-small
  margin 0.25em 0
  padding 0 30px
  color #FFFFFF
  text-decoration none
  // text-align center
  align-items center
  justify-content: center
  line-height $button-height-small
  border none
  border-radius $form-radius
  cursor pointer
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)
  overflow: hidden
  position: relative
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-tap-highlight-color: transparent

  &:after
    background linear-gradient(to top right, transparent , #fff)
    content: ""
    height: 150px
    left: -175px
    opacity: .1
    position: absolute
    top: -50px
    transform: rotate(35deg)
    width: 100px

  &:disabled
    pointer-events none

  &:focus
    outline none

  &.primary
    background linear-gradient(to top right, #41B782 , #86D169)

    &.border
      color $primary-color
      border-color $primary-color

  &.secondary
    background linear-gradient(to top right, #122549, #203762)

    &.border
      color $secondary-color
      border-color $secondary-color

  &.tertiary
    background linear-gradient(to top right, #3d2c61, #835ec2)

  &.high-contrast
    background: linear-gradient(to top right, #3d2c61, #835ec2)

  &.danger
    background linear-gradient(to top right, #EB4641, #F06372)

    &.border
      color: #EB4641
      border-color: #EB4641

  &.inverted
    background #FFFFFF
    color $secondary-color

    &.border
      color #FFFFFF
      border-color #FFFFFF

      &:hover
        color $secondary-color

  &.border
    background transparent
    border solid $border-size $secondary-color
    line-height ($button-height-small - ($border-size * 2))

  &.modern
    border-color: #028ebb
    border-top: 1px solid rgba(3, 143, 188, 0.16)
    border-bottom: 1px solid rgba(46, 162, 200, 0.29)
    padding: 0 20px;

    &.active
      background #028ebb2e
      box-shadow inset 0px 9px 21px rgba(19, 183, 166, 0.1), 0px 0px 2px rgba(60,196,180,0.6)
      border-color #028ebb
      border-top-color rgb(2, 142, 187)
      border-bottom-color rgb(2, 142, 187)
      border-top solid 1px #038fbcb8
      text-shadow 0px 0 3px #0a1121
      border-bottom solid 1px #038fbcb8

  &.-small
    height $button-height-small
    padding 0 15px

    +tablet-up()
      line-height $button-height-small
    &.-has-icon
      line-height inherit

  &.-full
    white-space nowrap
    width 100%

  &.-has-icon,
  &.-only-icon
    display inline-flex
    align-items center
    justify-content center
    overflow hidden
    i[class*=fa],
    i[class*=fab]
      margin-right 10px

    &:after
      content: none

    i
      transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1)

  &.link
    background none
    border none
    padding 0
    color $secondary-color
    &.inverted
      color #FFF

  .icon
    margin-right 8px

.control-group
  display flex
  align-items center
  flex-direction row
  flex-wrap wrap

  &.-spaced
    justify-content space-evenly

  &.-separate
    justify-content space-between

+tablet-up()
  .button
    height $button-height
    margin 0.5em 0
    line-height $button-height

    &.border
      line-height: ($button-height - ($border-size * 2))

    &.-small
      height: $button-height-small
      padding: 0 30px
      line-height: $button-height-small
      &.border
        line-height: ($button-height-small - ($border-size * 2))

a:hover .button
.button.active
.button:hover
  text-decoration none

  &:after
    left: 120%
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1)

  &.primary
    background linear-gradient(to bottom right, #41B782 , #86D169)

  &.secondary
    background linear-gradient(to bottom right, #122549, #203762)

  &.danger
    background linear-gradient(to bottom right, #EB4641, #F06372)

  &.inverted
    background #fff

  &.border
    border-color transparent
    color #fff

  &.modern
    box-shadow inset 0px 9px 21px rgba(19, 183, 166, 0.1), 0px 0px 2px rgba(60,196,180,0.6)
    border-left-color #028ebb
    border-right-color #028ebb
    border-top solid 1px #038fbcb8
    border-bottom solid 1px #038fbcb8

  &.-only-icon
    background transparent
    text-decoration none

    i
      transform: scale(.9)