// Media Queries
//
// Device type breakpoints for readability
mobile-only()
  @media screen and (max-width: 39.9375em)
    {block}
tablet-up()
  @media screen and (min-width: 40em)
    {block}
laptop-up()
  // Used to be 64em
  @media screen and (min-width: 78em)
    {block}
laptop-down()
  // Use to be 63.9375em
  @media screen and (max-width: 77.938em)
    {block}
desktop-up()
  @media screen and (min-width: 82em)
    {block}
// Reconsider; doesn't work well.
desktop-only()
  // Used to be 74.9375
  @media screen and (min-width: 64em) and (max-width: 77.938em)
    {block}

// Grid Area Builder
//
// Creates classes and grid-area names for containers
build-grid-area(list)
  for $i in list
    .{$i}
      grid-area $i
