.v--modal
  border-radius 10px!important
  +mobile-only()
    margin-bottom 100px !important
    width 90% !important
    left 5% !important
    top 40px !important
  .form-title
    display flex
    align-items center
    background-color: $secondary-color
    color #fff
    margin-bottom 20px

    button
      margin 0
      padding 0
      border none
      background transparent
      color #FFFFFF
      cursor pointer

  .form
    color: $black
    & > div
      padding-left 5%
      padding-right 5%

  .form-footer
    background-color: #ececec
    margin-top: 10px
