.paginate
  display flex

  .next,
  .prev
    display flex
    align-items center
    width 100%
    height 80px
    width 50%
    padding 0 2em
    border none
    color #fff
    font-size 18px
    font-weight 600
    cursor pointer
    transition: padding .5s cubic-bezier(0.19, 1, 0.22, 1)

    &[disabled]
      background rgba(0,0,0,0.1)
      color lighten($gray,70%)
      cursor: not-allowed
      &:hover i.fa
        transform: translateX(0)
    i
      font-size 24px
      transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1)

  .next
    background linear-gradient(to right, #41B782 , #86D169)
    text-align left
    i
      margin-left 15px

    &:hover
      padding-left: 2.2em

    &:hover i
      transform: translateX(20px)

  .prev
    background linear-gradient(to right, #122549, #203762)
    text-align right
    justify-content flex-end
    &:hover
      paddin-right 2.2em
    i
      margin-right 15px

    &:hover i
      transform: translateX(-20px)
  +tablet-up()
    .next,
    .prev
      height 118px
      font-size 32px
      i
        font-size 50px
