.vm-toasted,
.vm-toasted-subscribe
  padding 10px 20px                       !important
  font-family $font-family-base           !important
  font-size $font-size-base               !important
  font-weight 400                         !important
  color: $black                           !important
  line-height 1.4                         !important
  background #FFFFFF                      !important
  border-radius: 6px                      !important
  box-shadow 0 1px 4px 0 rgba(0,0,0,0.30) !important

  .action
    font-family $font-family-base         !important
    font-size $font-size-base             !important
    color: $primary-color                 !important
    font-weight 400                       !important
    text-decoration none                  !important

.vm-toasted-subscribe .action
  padding 0 30px                          !important
  color #FFFFFF                           !important
  border none                             !important
  border-radius $form-radius              !important
  overflow: hidden                        !important
  position: relative                      !important
  line-height $button-height-small        !important
  height $button-height-small             !important
  background linear-gradient(to top right, #41B782 , #86D169) !important
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)  !important
  -webkit-tap-highlight-color: rgba(0,0,0,0)  !important
  -webkit-tap-highlight-color: transparent  !important

  &:after
    background linear-gradient(to top right, transparent , #fff)
    content: ""
    height: 150px
    left: -175px
    opacity: .1
    position: absolute
    top: -50px
    transform: rotate(35deg)
    width: 100px

.toasted-container
  .toasted.toasted-primary.success
    background linear-gradient(to top right, #41b782, #86d169)

  .toasted.toasted-primary.info,
  .toasted.toasted-primary.success,
  .toasted.toasted-primary.error
    display flex
    flex-direction row
    align-items center
    font-weight bold
    justify-content space-between
    padding 0.5rem 1.5rem
    border-radius 1rem
    text-transform: uppercase

    .action
      font-weight bold
      color #fff

      &.fa-sync
        transform-origin: center
        animation rotate 1s infinite linear

      &:hover
        text-decoration none

@keyframes rotate
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}

@media screen and (max-width: 1000px)
  .toasted-container .toasted
    flex-direction: column
    min-width: 350px
    text-align: center
