.vm-toasted
  padding 10px 20px                       !important
  font-family $font-family-base           !important
  font-size $font-size-base               !important
  font-weight 400                         !important
  color: $black                           !important
  line-height 1.4                         !important
  background #FFFFFF                      !important
  border-radius: 6px                      !important
  box-shadow 0 1px 4px 0 rgba(0,0,0,0.30) !important

  .action
    font-family $font-family-base         !important
    font-size $font-size-base             !important
    color: $primary-color                 !important
    font-weight 400                       !important
    text-decoration none                  !important

+mobile-only()
  .toasted-container .toasted
    flex-direction: column
    min-width: 350px
    text-align: center