
.page-enter-active, .page-leave-active 
  transition: opacity .3s, transform .3s

.page-enter
  opacity: 0
  transform: translateY(-20px)

.page-leave-to
  opacity: 0
  transform: translateY(20px)

.course-enter-active, .course-leave-active
  transition: none .1s
  .lesson-video
  .lessons-list
    transition: opacity .1s

.course-enter 
  .lesson-video
  .lessons-list
    opacity: 0

.course-leave-to
  .lesson-video
  .lessons-list
    opacity: 0

.settings-enter-active, .settings-leave-active
  transition: none .1s
  .account-content
    transition: opacity .1s

.settings-enter .account-wrapper
  opacity: 0

.settings-leave-to .account-content
  opacity: 0