// @import _mixins

$font-family-base = 'Source Sans Pro', sans-serif
$font-size-base = 18px

// Forms

$border-size = 2px
$form-radius = 30px

$button-height = 54px
$button-height-small = ($button-height - 10px)

// Colors
$primary-color = #39B982
$secondary-color = #0A2B4E
$black = #222
$gray = #555

$states = {
  info: #A8D7DD
  success: $primary-color
  warning: yellow
  error: #EB4641
}

// Spacing
$vertical-space = 90px
$header-height = 100px
